################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/HealthMed.Grupo27/HealthMed.Grupo27.Tests/obj
/src/HealthMed.Grupo27.API/obj
/src/HealthMed.Grupo27.Application/obj
/src/HealthMed.Grupo27.Domain/obj
/src/HealthMed.Grupo27.Infrastructure/obj
/HealthMed.Grupo27/.vs/HealthMed.Grupo27
/.vs
/HealthMed.Grupo27.Tets/obj
/HealthMed.Grupo27/.vs/ProjectEvaluation/healthmed.grupo27.metadata.v9.bin
/HealthMed.Grupo27/.vs/ProjectEvaluation/healthmed.grupo27.projects.v9.bin
/HealthMed.Grupo27/.vs/ProjectEvaluation/healthmed.grupo27.strings.v9.bin
/src/HealthMed.Grupo27.Infrastructure/bin
/src/HealthMed.Grupo27.API/bin
/src/HealthMed.Grupo27.Application/bin
/src/HealthMed.Grupo27.Domain/bin